.actionbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-reset {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -14%);
    color: #ff868e;
    font-size: 20px;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      z-index: -1;
    }

    &:hover {
      color: #fff;
      &::after {
        display: block;
        background-color: #ff868e;
      }
    }
  }

  &-gallery {
    flex-direction: column;

    .custom-select__control {
      background-color: #fff;
      width: 290px;
    }

    .custom-select--short.custom-select__control {
      width: 238px;
    }

    .custom-select--short.custom-select__value-container {
      padding: 2px 8px;
    }

    .actionbar-select-wrapper--auto {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      width: 100%;
    }

    .select-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .custom-select__single-value {
      color: #1d1d1d;
    }

    .select-title {
      font-weight: 500;
      font-size: 10px;
      line-height: 18px;
      color: #8c8c8c;
      margin-left: 10px;
    }
  }

  &-name {
    display: flex;
    .actionbar-heading {
      margin-left: 10px;
    }
  }

  &-btn-prev,
  &-btn-upload {
    background: #fbe0dc;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 10px;
    border: none;
    color: #ff868e;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #ff868e;
    }
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-btn-upload {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 12px 29px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    &::before {
      padding-right: 10px;
    }
  }

  &-select-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f7;
    border-radius: 20px;
    width: 100%;
    margin-top: 30px;
    padding: 10px 20px 20px;
  }

  &-select {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    cursor: pointer;
  }

  &-option {
    display: none;
    &.selected {
      display: block;
    }
  }
}
