.photos {
  &-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 140px);
    gap: 20px;
  }

  &-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &-hover-label {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #ff868e;
    width: 180px;
    height: 34px;
    background: #fff;
    border-radius: 10px;
    z-index: 2;
  }

  &-picture {
    position: relative;
    cursor: pointer;
    img {
      object-fit: cover;
      border-radius: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 134, 142, 0.6);
      border-radius: 20px;
      z-index: 1;
    }

    &:hover {
      .photos-hover-label {
        display: block;
      }

      &::after {
        visibility: visible;
      }
    }
  }
}

.photos-grid:nth-of-type(2n + 1) {
  .photos-picture {
    &:nth-of-type(1) {
      width: 200px;
      height: 300px;
      grid-row: 1;
      grid-column: 1 / 2;
      img {
        width: inherit;
        height: inherit;
      }
    }

    &:nth-of-type(2) {
      width: 200px;
      height: 140px;
      grid-row: 3;
      grid-column: 1/1;
      img {
        width: inherit;
        height: inherit;
      }
    }

    &:nth-of-type(3) {
      width: 200px;
      height: 140px;
      grid-column: 2;
      grid-row: 1/2;
      img {
        width: inherit;
        height: inherit;
      }
    }

    &:nth-of-type(4) {
      width: 200px;
      height: 140px;
      img {
        width: inherit;
        height: inherit;
      }
    }

    &:nth-of-type(5) {
      width: 420px;
      height: 300px;
      grid-row: 2;
      grid-column: 2;
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}

.photos-grid:nth-of-type(2n) {
  .photos-picture {
    &:nth-of-type(1) {
      width: 200px;
      height: 300px;
      grid-row: 1;
      grid-column: 3;
      img {
        width: inherit;
        height: inherit;
      }
    }

    &:nth-of-type(2) {
      width: 200px;
      height: 140px;
      grid-row: 1;
      grid-column: 1;
      img {
        width: inherit;
        height: inherit;
      }
    }

    &:nth-of-type(3) {
      width: 200px;
      height: 140px;
      grid-column: 2;
      grid-row: 1/2;
      img {
        width: inherit;
        height: inherit;
      }
    }

    &:nth-of-type(4) {
      width: 200px;
      height: 140px;
      grid-column: 3;
      grid-row: 3;
      img {
        width: inherit;
        height: inherit;
      }
    }

    &:nth-of-type(5) {
      width: 420px;
      height: 300px;
      grid-row: 2;
      grid-column: 1;
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
