.favourites-page {
  .photos-picture {
    .photos-hover-label {
      height: 40px;
      width: 40px;
      font-size: 23px;
      line-height: 46px;
      transform: translate(-50%, -50%);
      bottom: unset;
      top: 50%;
    }
  }
}
