* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost';
  background-color: #f8f8f7;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  @media screen and( max-width:1380px) {
    padding: 0 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 33%;
  &-loader {
    position: absolute;
    top: -200%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, 200%);
    @media screen and(max-width:768px) {
      top: -1365%;
    }
  }

  &-wrapper {
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    @media screen and(max-width:768px) {
      padding: 5px 10px;
    }
  }

  @media screen and(max-width:1200px) {
    margin-top: 80px;
    width: 670px;
    justify-content: center;
    align-items: center;
  }

  @media screen and(max-width:768px) {
    margin-top: 80px;
    width: 510px;
  }

  @media screen and(max-width:530px) {
    margin-top: 80px;
    width: 330px;
  }

  @media screen and(max-width:320px) {
    margin-top: 80px;
    width: 310px;
  }
}

.favourites-page,
.likes-page,
.dislikes-page,
.gallery-page {
  .photos-picture {
    .photos-hover-label {
      height: 40px;
      width: 40px;
      font-size: 23px;
      line-height: 46px;
      transform: translate(-50%, -50%);
      bottom: unset;
      top: 50%;
    }
  }
}

.custom-select__control {
  border: 2px solid #fff !important;
  &:hover {
    border: 2px solid #fbe0dc !important;
  }
}

.actionbar-sort-buttons {
  @media (max-width: 768px) {
    width: 25%;
    justify-content: space-between;
  }
  @media (max-width: 530px) {
    width: 35%;
    justify-content: space-between;
  }
}
