* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost';
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  @media screen and( max-width:1380px) {
    padding: 0 20px;
  }
}

.content {
  max-width: 682px;
  position: relative;
  padding-left: 15px;
  &-loader {
    position: absolute;
    top: -200%;
    left: 50%;
    transform: translate(-50%, 200%);
  }
}

.favourites-page,
.likes-page,
.dislikes-page,
.gallery-page {
  .photos-picture {
    .photos-hover-label {
      height: 40px;
      width: 40px;
      font-size: 23px;
      line-height: 46px;
      transform: translate(-50%, -50%);
      bottom: unset;
      top: 50%;
    }
  }
}

.custom-select__control {
  border: 2px solid #fff !important;
  &:hover {
    border: 2px solid #fbe0dc !important;
  }
}
