.card {
  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      .card-title {
        background: #fbe0dc;
        border-radius: 10px;
      }
    }

    &.active {
      .card-title {
        background: #ff868e;
        border-radius: 10px;
        color: #fff;
      }

      .card-image-container {
        border: 4px solid #fbe0dc;
      }
    }
  }
  &-image-container {
    border-radius: 20px;
  }

  &-image {
    width: 100%;
    height: 100%;
  }

  &-title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ff868e;
    width: 100%;
    padding: 10px 0;
  }
}

.voting {
  background: #b4b7ff;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.breeds {
  background: #97eab9;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.gallery {
  background: #ffd280;
  border: 4px solid rgba(255, 255, 255, 0.6);
}
