.aside {
  padding: 0 0 0 76px;
  display: flex;
  flex-direction: column;
  @media screen and(max-width:1380px) {
    padding: 0;
  }

  @media screen and(max-width:1200px) {
    display: none;
  }

  &-list {
    display: none;
    justify-content: space-between;
    width: 90%;
    margin: 50px 0;
    @media screen and(max-width:530px) {
      display: flex;
    }

    &-item {
      &:first-of-type {
        margin-left: 0;
      }

      margin-left: 5px;
    }

    &-link {
      color: #ff868e;
      text-decoration: none;
      font-size: 28px;
      padding: 10px 15px;
      background-color: #fff;
      border-radius: 20px;
      &:hover {
        background: #fbe0dc;
        border-radius: 20px;
      }
    }

    &-link.active {
      background: #ff868e;
      border-radius: 20px;
      color: #fff;
    }
  }

  &-nav {
    &-burger {
      position: fixed;
      z-index: 25;
      top: 7%;
      left: 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      transition: all 0.85s ease;
      width: 25px;
      height: 25px;
      @media screen and(min-width:1200px) {
        display: none;
      }

      &-line {
        width: 25px;
        height: 3px;
        background-color: #000;
      }

      &.active {
        .aside-nav-burger-line {
          display: block;
          &:nth-of-type(1) {
            position: relative;
            top: 48%;
            transform: rotate(50deg);
          }

          &:nth-of-type(2) {
            display: none;
          }

          &:nth-of-type(3) {
            transform: rotate(311deg);
          }
        }
      }
    }

    &-burger.active {
      left: 24%;
      @media screen and(max-width:768px) {
        left: 39%;
      }

      @media screen and(max-width:530px) {
        left: 54%;
      }

      @media screen and(max-width:375px) {
        left: 77%;
      }

      @media screen and(max-width:320px) {
        left: 86%;
      }
    }

    &-burger.active + .aside-nav-body {
      left: 0;
    }

    &-body {
      display: flex;
      position: fixed;
      top: 3%;
      left: -100%;
      z-index: 23;
      padding: 10px 15px 10px 15px;
      background-color: rgb(230, 230, 230);
      flex-direction: column;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      align-items: flex-start;
      transition: all 0.7s ease;
      @media screen and(min-width:1200px) {
        display: none;
      }

      .aside-logo {
        margin-bottom: 20px;
      }

      .aside-text {
        margin-bottom: 15px;
        color: #c7a15b;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      margin-top: 15px;
      &:nth-of-type(1) {
        .aside-nav-link {
          color: #9597df;
        }
      }

      &:nth-of-type(2) {
        .aside-nav-link {
          color: #63c58c;
        }
      }

      &:nth-of-type(3) {
        .aside-nav-link {
          color: #c9a35c;
        }
      }
    }

    &-link {
      text-decoration: none;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 1px;
    }
  }

  &-logo {
    margin-top: 8px;
    width: 106px;
    height: 24px;
  }

  &-welcome {
    margin-top: 83px;
  }

  &-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    color: #1d1d1d;
  }

  &-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8c8c8c;
  }

  &-action {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  &-action-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #1d1d1d;
  }

  &-cards {
    display: flex;
    gap: 10px;
  }
}
