.actionbar.actionbar-cat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  &-btn-prev {
    background: #fbe0dc;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 10px;
    border: none;
    color: #ff868e;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #ff868e;
    }
  }

  &-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
    background: #ff868e;
    border-radius: 10px;
    color: #fff;
  }
}
