.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and(max-width: 1200px) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    padding: 15px 0;
    background-color: rgb(230, 230, 230);
    z-index: 22;
  }

  @media screen and(max-width:530px) {
    justify-content: flex-end;
    padding: 15px 10px;
  }

  &-form {
    position: relative;
    &-input {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      border: none;
      padding: 15px 64px 15px 30px;

      width: 470px;
      color: #1d1d1d;
      outline: none;
      border: 2px solid #fff;
      border-radius: 20px;

      @media screen and (max-width: 768px) {
        width: 270px;
        &::placeholder {
          font-size: 14px;
        }
      }

      @media screen and(max-width:530px) {
        width: 268px;
      }

      &::placeholder {
        color: #8c8c8c;
      }

      &:hover {
        border: 2px solid #fbe0dc;
        &::placeholder {
          color: #fff;
        }
      }

      &:focus {
        border: 2px solid #ff868e;
        &::placeholder {
          color: #1d1d1d;
        }
      }
    }

    &-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      background: #fbe0dc;
      border-radius: 10px;
      font-size: 20px;
      padding: 8px 10px;
      border: none;
      color: #ff868e;
      cursor: pointer;
      &:hover {
        color: #fff;
        background: #ff868e;
      }
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    width: 28%;
    margin-left: 15px;
    @media screen and(max-width:530px) {
      display: none;
    }

    &-item {
      &:first-of-type {
        margin-left: 0;
      }

      margin-left: 5px;
    }

    &-link {
      color: #ff868e;
      text-decoration: none;
      font-size: 28px;
      padding: 10px 15px;
      background-color: #fff;
      border-radius: 20px;
      &:hover {
        background: #fbe0dc;
        border-radius: 20px;
      }
    }

    &-link.active {
      background: #ff868e;
      border-radius: 20px;
      color: #fff;
    }
  }
}
