.actionbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-btn-prev {
    background: #fbe0dc;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 10px;
    border: none;
    color: #ff868e;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #ff868e;
    }
  }

  &-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
    background: #ff868e;
    border-radius: 10px;
    color: #fff;
  }

  &-select {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    cursor: pointer;
  }

  &-option {
    display: none;
    &.selected {
      display: block;
    }
  }

  &-sort-buttons {
    display: flex;
    width: 15%;
    justify-content: space-around;
  }

  &-sort {
    width: 18px;
    height: 21px;
    cursor: pointer;
    background-color: #f8f8f7;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    &--az {
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: url('../../../../assets/icons/sort-az.svg');
      }

      &:hover {
        &::before {
          content: url('../../../../assets/icons/sort-hover.svg');
        }
      }
    }

    &--za {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: url('../../../../assets/icons/sort-za.svg');
      }

      &:hover {
        &::before {
          content: url('../../../../assets/icons/sort-revert-hover.svg');
        }
      }
    }
  }

  .custom-select {
    &__single-value {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #8c8c8c;
    }

    &__menu {
      z-index: 5;
    }

    &__control {
      width: 226px;
      border: none;
      cursor: pointer;
      background: #f8f8f7;
      border-color: #f8f8f7 !important;
      border-radius: 10px;
      border-width: 21px;
    }

    &--short.custom-select__control {
      width: 105px;
    }

    &--short.custom-select__value-container {
      padding: 2px 1px 2px 1px;
    }

    &__indicator-separator {
      display: none;
    }

    &__single-value {
      cursor: pointer;
    }
  }
}
